
.mainDashDiv{
    background-color: rgb(175, 212, 192);
    /* position: fixed; */
    min-width: ;height: 100%;
    /* min-height: auto;  */
    /* width: 100vw; */
}

.hamster{
    background-color:   rgb(251, 253, 252);
    width: 750px;
    min-height: 100vh;
    margin: auto;
}

.addPropertyBtn{
    border: none;
    background-color: #8aea92;
    margin: 20px;
    padding: 10px;
    border-radius: 3px;
    font-weight: bold;
}

.filter{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.listPropH5{
    margin: 10px;
}

.filterInput{
    margin-right: 10px;
    
}

.filterBtn{
    margin-right: 10px;
    border: none;
    background-color: rgb(138, 234, 146);
    padding: 10px;
    border-radius: 3px;
}

.resetBtn{
    margin-right: 10px;
    border: none;
    background-color: rgb(59, 82, 73);
    padding: 10px;
    border-radius: 3px;
    color: white;
}

.hrLine1{
    margin-top: 30px;
    width: 700px;
}

.homeLisTitle{
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
}

.mainBar2{
    /* border: 2px solid black; */
    margin: 20px;
    height: 150px;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    background-color: rgb(197, 197, 197);
    
}

.housePic{
    /* border: 2px solid black; */
    width: 175px;
    height: 100%;
    background-color: rgb(160, 160, 160);
    
}

.nameAndDesc{
    /* border: 2px solid black; */
    width: 260px;
    height: 100%;
    display: flex;
}

.else{
    /* border: 2px solid black; */
    width: 262px;
    height: 100%;
    display: flex;
    border-left: solid black;
    font-weight: 600;
    overflow: auto
    ;
}

ul{
    list-style-type: none;
    padding-left: 10px;
    text-align: left;
}

.propName2{
    font-weight: 600;
}

.houseImage{
    position: block;
    width: 100%;
    height: 100%;
}



.deleteBtn{
    height: 16px;
    width: 13px;
    margin: 10px;
    background-image: url(delete_icon.png);
    border: none;
}

.allBars {
    min-height: 100%;
    /* overflow: scroll; */
}

.propDescrip{
    overflow: auto;
    height: 110px;
}


